<script setup lang="ts">
import { storeToRefs } from "pinia";
import { useConversionStore } from "@/store/conversion_store";

const conversionStore = useConversionStore();
const { conversionDetailsModel } = storeToRefs(conversionStore);
</script>

<template>
  <v-row>
    <template v-for="(data, i) in conversionDetailsModel" :key="i">
      <v-col cols="12" md="6">
        <v-card class="h-100">
          <v-card-text class="text-center">
            <div class="my-4">
              <p class="mb-2">{{ data.label }}</p>
              <h1>
                <v-icon
                  :icon="`mdi-currency-${data.symbol}`"
                  size="22"
                ></v-icon>
                {{ data.value }}
              </h1>
            </div>
          </v-card-text>
        </v-card>
      </v-col>
    </template>
  </v-row>
</template>
