<script setup lang="ts">
import { storeToRefs } from "pinia";
import { useConversionStore } from "@/store/conversion_store";
import Switch from "@/components/inputs/switch.vue";
import TextField from "@/components/inputs/text_field.vue";
import Slider from "@/components/inputs/slider.vue";

const conversionStore = useConversionStore();
const { valueToConvert, tip, peopleAmount } = storeToRefs(conversionStore);
</script>

<template>
  <div>
    <Switch />
    <TextField v-model="valueToConvert" />
    <Slider
      v-model="tip"
      label="Gorjeta"
      min="10"
      max="20"
      :is-percent="true"
    />
    <Slider v-model="peopleAmount" label="Pessoas" min="2" max="16" />
  </div>
</template>
