<script setup lang="ts">
const props = defineProps({
  label: { type: String, default: "" },
  min: { type: String, default: 0 },
  max: { type: String, default: 0 },
  modelValue: String,
  isPercent: { type: Boolean, default: false },
});

defineEmits(["update:modelValue"]);

const showPercentIcon = props.isPercent ? "%" : "";
</script>

<template>
  <div>
    <p class="d-flex align-baseline text-left">
      <span>{{ label }}:</span>
      <span class="value-slide">{{ modelValue }}{{ showPercentIcon }}</span>
    </p>
    <v-row class="py-4">
      <v-col cols="12" sm="1">
        <p>{{ min }}</p>
      </v-col>
      <v-col cols="12" sm="10">
        <input
          :value="modelValue"
          :min="min"
          :max="max"
          type="range"
          @input="$emit('update:modelValue', $event.target!.value)"
        />
      </v-col>
      <v-col cols="12" sm="1">
        <p>{{ max }}</p>
      </v-col>
    </v-row>
  </div>
</template>

<style scoped>
input {
  width: 100%;
}

.value-slide {
  font-size: 1.5rem;
  margin: 0 0 0 0.5rem;
}
</style>
