<script setup lang="ts">
import { storeToRefs } from "pinia";
import { useConversionStore } from "@/store/conversion_store";

const conversionStore = useConversionStore();
const { isCurrencyUSD } = storeToRefs(conversionStore);
</script>

<template>
  <v-switch v-model="isCurrencyUSD" inset>
    <template #prepend>
      <p>EUR</p>
    </template>
    <template #label>
      <p>USD</p>
    </template>
  </v-switch>
</template>
