<script setup lang="ts">
import { storeToRefs } from "pinia";
import { useConversionStore } from "@/store/conversion_store";

const conversionStore = useConversionStore();
const { getCurrencyActive } = storeToRefs(conversionStore);

defineProps({
  modelValue: String,
});

defineEmits(["update:modelValue"]);
</script>

<template>
  <v-row align="center" no-gutters>
    <span class="mb-5 mr-6">Valor</span>
    <v-text-field
      :value="modelValue"
      type="number"
      :prepend-icon="`mdi-currency-${getCurrencyActive}`"
      @input="$emit('update:modelValue', $event.target.value)"
    />
  </v-row>
</template>
