<script setup lang="ts">
import { ref, onMounted } from "vue";
import Header from "@/components/ui/header.vue";
import ConversionForm from "@/components/form/conversion_form.vue";
import ConversionDetails from "@/components/details/conversion_details.vue";
import FloatingActionButton from "@/components/ui/floating_action_button.vue";
import { useConversionStore } from "@/store/conversion_store";
import { isMobileDevice } from "@/utils/client_device";

const showDetails = ref(false);

const conversionStore = useConversionStore();

onMounted(() => conversionStore.fetchQuotations());

function toggleShowDetails() {
  showDetails.value = !showDetails.value;
}
</script>

<template>
  <v-container class="fill-height">
    <v-responsive class="d-flex align-center text-center fill-height py-6 px-6">
      <Header />
      <v-row>
        <v-col v-if="!showDetails" cols="12" sm="6">
          <ConversionForm />
          <FloatingActionButton
            v-if="isMobileDevice()"
            :on-click="toggleShowDetails"
          />
        </v-col>
        <v-col v-if="!isMobileDevice() || showDetails" cols="12" sm="6">
          <ConversionDetails />
          <FloatingActionButton
            v-if="isMobileDevice()"
            icon="mdi-arrow-left"
            :on-click="toggleShowDetails"
          />
        </v-col>
      </v-row>
    </v-responsive>
  </v-container>
</template>
