<script setup lang="ts">
import HomePage from "@/pages/home_page.vue";

document.title = "Le/Tip Challenge";
</script>

<template>
  <v-app>
    <v-main>
      <HomePage />
    </v-main>
  </v-app>
</template>
