<script setup lang="ts">
const props = defineProps({
  icon: { type: String, default: "mdi-arrow-right" },
  onClick: { type: Function, default: () => {} },
});
</script>

<template>
  <v-btn
    class="fab-button"
    color="primary"
    :icon="icon"
    @click="onClick"
  ></v-btn>
</template>

<style scoped>
.fab-button {
  position: absolute;
  right: 5%;
  bottom: 2%;
}
</style>
